@import url('https://fonts.googleapis.com/css2?family=Alex+Brush:wght@400&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #b3b1b1;
  text-decoration: inherit;
}
a:hover {
  color: #808080;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.dark {
  background-color: #808080;

  a {
    color: #e1dfdf;
  }
  a:hover {
    color: #f4f0f0;
  }
}
